.jAudio {
  position: fixed;
  bottom: 0px;
  right: 30px;
  width: 300px;
  border-radius: 30px;
  background: #280E9F;
  box-shadow: 1px 3px 25px rgba(11, 0, 60, 0.3);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0;
  z-index: -1; }
  .jAudio.shown {
    bottom: 40px;
    opacity: 1;
    z-index: 4; }
  .jAudio .player {
    height: 200px; }
    .jAudio .player .play-controls {
      margin: auto;
      width: 100%;
      text-align: center; }
      .jAudio .player .play-controls .ctrls-wrapper .playctrl {
        display: inline-block;
        font-size: 3em;
        color: #fff;
        text-decoration: none; }
        .jAudio .player .play-controls .ctrls-wrapper .playctrl.main {
          margin: 0 50px;
          font-size: 2em;
          width: 70px;
          height: 70px;
          text-align: center;
          line-height: 70px;
          border: 2px solid #fff;
          border-radius: 50%;
          transform: translateY(-6px); }
          .jAudio .player .play-controls .ctrls-wrapper .playctrl.main .pausebtn {
            display: none; }
      .jAudio .player .play-controls .play-progress {
        position: relative;
        height: 1px;
        background: #fff;
        width: 50%;
        margin: auto;
        margin-top: 30px;
        cursor: pointer; }
        .jAudio .player .play-controls .play-progress .current-time {
          position: absolute;
          top: -8px;
          left: -40px;
          font-size: 12px;
          color: #fff; }
        .jAudio .player .play-controls .play-progress .reamining-time {
          position: absolute;
          top: -8px;
          right: -40px;
          font-size: 12px;
          color: #fff; }
        .jAudio .player .play-controls .play-progress .bar {
          position: absolute;
          top: -1px;
          left: 0;
          height: 3px;
          width: 0%;
          background: #fff; }
  .jAudio .playlist {
    position: relative;
    background: #fff;
    border-radius: 30px 0 30px 30px;
    padding: 0px 0px 10px 25px;
    overflow: hidden; }
    .jAudio .playlist .wrapper {
      height: 300px;
      padding-top: 20px;
      overflow-y: auto; }
      .jAudio .playlist .wrapper .song {
        position: relative;
        overflow: auto;
        margin-bottom: 15px;
        cursor: pointer; }
        .jAudio .playlist .wrapper .song .thumb {
          width: 37px;
          height: 37px;
          line-height: 39px;
          text-align: center;
          background: #5a37c5;
          border-radius: 50%;
          overflow: hidden;
          float: left; }
          .jAudio .playlist .wrapper .song .thumb i {
            color: #fff;
            font-size: 17px; }
          .jAudio .playlist .wrapper .song .thumb .isplaying {
            display: none; }
          .jAudio .playlist .wrapper .song .thumb .ispaused {
            display: inline; }
        .jAudio .playlist .wrapper .song .infos {
          margin-left: 48px; }
          .jAudio .playlist .wrapper .song .infos .title {
            font-size: 13px;
            font-weight: bold;
            color: #777;
            display: block;
            word-wrap: break-word; }
          .jAudio .playlist .wrapper .song .infos .album {
            display: block;
            font-size: 12px;
            color: #999; }
        .jAudio .playlist .wrapper .song.playing .thumb .isplaying {
          display: inline; }
        .jAudio .playlist .wrapper .song.playing .thumb .ispaused {
          display: none; }
  .jAudio .closer {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    background: #280E9F;
    line-height: 52px;
    color: #fff;
    font-size: 21px;
    text-align: center; }
